<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="VivaRecife">
		<title>VivaRecife</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

		<!--mdl-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-deep_orange.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

		<link rel="stylesheet" type="text/css" href="style.scss">
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<!-- Always shows a header, even in smaller screens. -->
				<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
				  <header class="mdl-layout__header">
				    <div class="mdl-layout__header-row">
				      <!-- Title -->
				      <span class="mdl-layout-title">VivaRecife</span>
				      <!-- Add spacer, to align navigation to the right -->
				      <div class="mdl-layout-spacer"></div>
				      <!-- Navigation. We hide it in small screens. -->
				      <nav class="mdl-navigation mdl-layout--large-screen-only">
				        <a class="mdl-navigation__link" href="index.html">Início</a>
				        <a class="mdl-navigation__link" href="buscar.html">Buscar</a>
				        <a class="mdl-navigation__link" href="bairros.html">Bairros</a>
				        <a class="mdl-navigation__link" href="contato.html">Contato</a>
				        <a class="mdl-navigation__link" href="sobre.html">Sobre</a>
				      </nav>
				    </div>
				  </header>
				  <div class="mdl-layout__drawer">
				    <span class="mdl-layout-title">VivaRecife</span>
				    <nav class="mdl-navigation">
				      <a class="mdl-navigation__link" href="index.html">Início</a>
				      <a class="mdl-navigation__link" href="buscar.html">Buscar</a>
				      <a class="mdl-navigation__link" href="bairros.html">Bairros</a>
				      <a class="mdl-navigation__link" href="contato.html">Contato</a>
				      <a class="mdl-navigation__link" href="sobre.html">Sobre</a>
				    </nav>
				  </div>
				</div>
			</div>

			<div id="content">
				  <main class="mdl-layout__content">
				    <div class="page-content">
				    	<!-- Your content goes here -->
						Content
				    </div>
				  </main>
			</div>

			<div id="footer">
				<footer>
					<footer class="mdl-mini-footer">
					  <div class="mdl-mini-footer__left-section">
					    <div class="mdl-logo">VivaRecife</div>
					    <ul class="mdl-mini-footer__link-list">
					      <li><a href="#">Ajuda</a></li>
					      <li><a href="#">Termo de Privacidade</a></li>
					    </ul>
					  </div>
					</footer>
				</footer>
			</div>
		</div>
	</body>
</html>
